.portfolio-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.btn.cat-btn {
    transition: var(--transition);
    text-transform: capitalize;
}

.btn.cat-btn:hover {
    transform: translateY(0);
}

.portfolio-projects {
    align-items: center;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
}

.card.portfolio-project {
    animation: animateProjects 800ms ease-in forwards;
}

@keyframes animateProjects {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.portfolio-project {
    width: 350px;
}

.portfolio-project-image {
    background: var(--color-light);
    border-radius: var(--border-radius-2);
    margin-bottom: 1.5rem;
    max-height: 15rem;
    min-height: 7rem;
    height: fit-content;
    overflow: hidden;
}

.portfolio-project p {
    margin: .5rem 0 2rem;
    text-align: justify;
}

.portfolio-project-cta {
    display: flex;
    gap: 1rem;
}

.portfolio-project:hover .btn.sm {
    border-color: var(--color-white);
}

.portfolio-project:hover .btn.sm.primary {
    background: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
    .portfolio-projects {
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .portfolio-categories {
        gap: .6rem;
    }

    .btn.cat-btn {
        padding: .7rem .8rem;
    }

    .portfolio-projects {
        gap: 1.5rem;
        grid-template-columns: 1fr;
    }
}