footer {
    background: var(--color-primary);
    box-shadow: 0 -1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
    min-height: 100px;
    padding-top: .3rem;
    transition: var(--transition);
    text-align: center;
}

footer p { 
    margin-top: 50px;
}