.home__content {
    align-items: center;
    column-gap: 2rem;
    grid-template-columns: 116px repeat(1, 1fr);
    padding-top: 5.5rem;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    color: var(--title-color);
    font-size: 1.25rem;
}

.home__social-icon:hover {
    color: var(--title-color-dark)
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
    padding-left: 5.4rem;
    position: relative;
}

.home__subtitle::before {
    background-color: var(--text-color);
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: .7rem;
    width: 70px;
}

.home__description {
    margin-bottom: var(--mb-3);
    max-width: 400px;
}

@media screen and (max-width: 992px) {
    .home__content {
        column-gap: 1.25rem;
        grid-template-columns:100px repeat(1, 1fr);
    }

    .home__subtitle {
        margin-bottom: var(--mb-1);
        padding-left: 3.75rem;
    }

    .home__subtitle::before {
        width: 42px;
    }

    .home__description {
        margin-bottom: var(--mb-2-5);
        max-width: initial;
    }
}

@media screen and (max-width: 768px) {
    .home__content{
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

}

@media screen and (max-width: 350px) {

}