.home__content {
    align-items: center;
    column-gap: 2rem;
    grid-template-columns: 116px repeat(1, 1fr);
    padding-top: 5.5rem;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    color: var(--title-color);
    font-size: 1.25rem;
}

.home__social-icon:hover {
    color: var(--title-color-dark)
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
    padding-left: 5.4rem;
    position: relative;
}

.home__subtitle::before {
    background-color: var(--text-color);
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: .7rem;
    width: 70px;
}

.home__description {
    margin-bottom: var(--mb-3);
    max-width: 400px;
}