.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 1rem 5.4rem;
    width: 100%;
}

.text-zone {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 2.5rem;
    text-align: justify;
}

.text-zone-title {
    font-size: 3rem;
}

.text-zone-subtitle {
    margin-bottom: 10px;
}

.text-zone-subtitle::before {
    content: '';
    border-bottom: 1px solid black;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 50px;
}

.text-zone-subtitle::after {
    content: '';
    border-bottom: 1px solid black;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 50px;
}

@media screen and (max-width: 688px) {
    .text-zone-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 560px) {
    .container {
        padding: 1rem 1rem;
    }
    
    .text-zone-title {
        font-size: 1.5rem;
    }

    .text-zone-subtitle {
        font-size: .9rem;
    }

    .text-zone-subtitle::after {
        width: 25px;
    }

    .text-zone-subtitle::before {
        width: 25px;
    }
}