@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 4rem;
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.btn {
  background: rgb(32, 29, 29);
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
  padding: 1rem;
  width: 200px;
}

@media screen and (max-width: 561px) {
    body {
      margin: 0;
    }
}